pandas
numpy
yfinance
requests
pywhatkit
google-auth
google-api-python-client
groq
python-dotenv
jupyter
matplotlib
seaborn
ta
ccxt
crawl4ai
html5lib 
lxml
beautifulsoup4
fake-useragent
requests-html
pycoingecko
nest_asyncio